$color-1: #EEEEEE;
$color-2: #FFFFFF;
$color-3: rgba(237, 28, 35, .97);
$color-4: #111111;
$color-5: rgba(255, 255, 255, .3);
$color-6: rgba(0, 0, 0, .3);
$color-7: #DBDBDB;
$color-8: #898989;
$color-9: #222222;
