.overview {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 522px;
    overflow: hidden;
    background-color: #DBDBDB;

    .container {
        display: flex;
        position: absolute;
        width: 1002px;
        height: 100%;

        .grey {
            flex-shrink: 0;
            width: 350px;
            height: 522px;
            background-color: #898989;
        }

        .article {
            position: relative;
            z-index: 1;
            height: 421px;
            padding-top: 43px;
            padding-left: 48px;
            color: #222222;
            font-family: 'Open Sans', sans-serif;

            h1 {
                margin-bottom: 43px;
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-weight: 900;
                letter-spacing: -1.3px;
            }

            > p {
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;

                &:first-of-type {
                    text-decoration: underline;
                    text-decoration-color: #DBDBDB;
                }

                &:last-child {
                    padding-right: 65px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            div {
                display: flex;

                p {
                    margin-bottom: 30px;
                    padding-right: 34px;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;

                    &:first-child {
                        max-width: 49%;
                        margin-right: -2px;
                    }

                    &:last-child {
                        padding-right: 12px;
                        line-height: 18px;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 200%;
                height: 522px;
                background-color: #ffffff;
            }
        }
    }
}
