 .overview {
    
    width: 100%;
    height: 524px;
    background-color: rgb(255, 255, 255);
    margin-top: 64px;
    .container {
        width: 1002px;
        height: 421px;
        margin: 0 auto;

        .grey {
            height: 421px;
            width: 350px;
            background-color: #898989;
            display: flex;
            float: left;
            margin-right: 20px;
        }

        .article {
            height: 421px;
            width: 1000px;
            padding-top: 40px;
            font-family: 'Open Sans', sans-serif;

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
            }

            p {
                font-size: 20px;
                &:last-child{
                    font-size: 14px;
                }
            }

            div {
                display: flex;
                p {
                    font-size: 14px;
                }
            }
        }
    }
}
