.overview {
    background-color: $color-2;

    .container {
        width: 685px;

        .grey {
            display: none;
        }

        .article {

            > p {
                width: 594px;

                &:first-of-type {
                    width: 582px;
                }
            }
        }
    }
}
