header {
    width: 100%;
    background-color: #EEEEEE;

    .row-1 {
        display: flex;
        position: relative;
        justify-content: center;
        height: 422px;
        overflow: hidden;

        .container {
            position: absolute;
            width: 1002px;
            height: 100%;

            div {

                &.sidebar {
                    position: relative;
                    width: 350px;
                    height: 100%;
                    padding-top: 31px;
                    padding-left: 33px;
                    float: left;
                    background-color: rgba(237, 28, 35, .97);
                    color: #FFFFFF;

                    .title {
                        display: flex;
                        margin-bottom: 41px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: -.3px;
                        text-decoration: none;
                        text-transform: uppercase;

                        &::before {
                            content: 'E';
                            margin-right: 7px;
                            padding: 3.3px 9px;
                            transform: translateY(-5px);
                            border: 3px solid #FFFFFF;
                            color: #FFFFFF;
                            font-size: 32.21px;
                            font-weight: 700;
                        }
                    }

                    .photography {

                        > span {
                            display: flex;
                            width: 101px;
                            margin-bottom: 6.9px;
                            padding: 5px 8px 6px 11px;
                            background-color: #111111;
                            color: #FFFFFF;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 9px;
                            letter-spacing: .67px;
                        }
                    }

                    .wrap {
                        width: 281px;
                        margin-bottom: 17px;
                        padding-left: 4px;
                        border-bottom: 1px solid rgba(255, 255, 255, .3);

                        > h1 {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
                            letter-spacing: -.8px;
                        }

                        > h2 {
                            margin-bottom: 15px;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -1.2px;
                        }

                        > span {
                            display: block;
                            width: 214px;
                            margin-bottom: 20px;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 20px;
                            word-spacing: -.6px;
                        }
                    }

                    .admission {
                        display: flex;
                        align-items: center;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 18px;

                        &::before {
                            content: url(/images/header/shape12.png);
                            display: flex;
                            margin-right: 0;
                            margin-right: 9px;
                            transform: translateX(1px);
                        }
                    }

                    .icons {
                        display: flex;
                        position: absolute;
                        right: 0;
                        bottom: 0;

                        .eye {

                            &::before {
                                content: url(/images/header/eye.png);
                                display: flex;
                                padding: 13px 11px 8px 10px;
                                border: 1px solid rgba(255, 255, 255, .3);
                            }
                        }

                        .image {

                            &::before {
                                content: url(/images/header/image.png);
                                display: flex;
                                padding: 11px 10px 6px 10px;
                                border: 1px solid rgba(255, 255, 255, .3);
                            }
                        }

                        .marker {

                            &::before {
                                content: url(/images/header/marker.png);
                                display: flex;
                                padding: 10px 12px 7px 13px;
                                border: 1px solid rgba(255, 255, 255, .3);
                            }
                        }
                    }
                }
            }

            a {
                color: #FFFFFF;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;

                &.menu {

                    &::before {
                        content: url(/images/header/icon.png);
                        padding: 14px 18px;
                        float: left;
                        background-color: #111111;
                    }
                }
            }
        }
    }

    .row-2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 62px;
        overflow: hidden;
        background-color: #DBDBDB;

        .container {
            display: flex;
            position: relative;
            justify-content: flex-end;
            width: 1002px;

            &::after {
                content: '';
                position: absolute;
                left: 350px;
                width: 200%;
                height: 100%;
                background-color: #111111;
            }

            .arrows {
                display: flex;
                z-index: 1;
                align-content: flex-end;
                align-items: center;
                border: 1px solid rgba(255, 255, 255, .3);

                .left {
                    content: url(/images/header/Left.png);
                    padding: 21px 22px 21px;
                    border-right: 1px solid rgba(255, 255, 255, .3);
                }

                .right {
                    content: url(/images/header/Right.png);
                    padding: 21px 22px 21px 21px;
                }
            }
        }
    }
}
