header {
    width: 100%;
    height: 421.5px;
    background-color: #EEEEEE;

    a {

        &.menu {
            padding: 16px 17px;
            float: left;
            background-color: #111111;
        }
    }

    .container {
        width: 1002px;
        height: 421px;
        margin: 0 auto;

        div {

            &.red-menu {
                position: relative;
                width: 350px;
                height: 392px;
                padding-top: 29px;
                padding-left: 33px;
                float: left;
                background-color: #ED1C24;
                color: #FFFFFF;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        margin-bottom: 20px;
                        padding: 0;

                        &.bottom-border {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-family: 'Montserrat', sans-serif;
                    &.head{
                        display: block;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 90px;
                        margin-top: -10px;
                        &::before{
                            content: 'E';
                            font-size: 32.21px;
                            padding: 6px 15px;
                            border: 3px solid #FFFFFF;
                            margin-right: 10px;
                        }
                    }
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 0;

                    &.shadows {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 26px;
                        font-weight: 700;
                    }
                }

                .admissions {
                    display: flex;

                    img {
                        margin-right: 10px;
                    }

                    a {
                        font-size: 18px;
                    }
                }

                span {
                    padding: 3px 5px;
                    background-color: #111111;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 10px;
                    line-height: 18px;

                    &.date {
                        padding: 0;
                        background-color: transparent;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }

                .icons {
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    img {
                        margin: -2.5px;
                        padding: 10px;
                        border: 1px solid #FFFFFF;
                    }
                }
            }
        }
    }

    .header-bar {
        width: 100%;
        background-color: #111111;
        .container {
            display: flex;
            height: 65px;
        }
        div {
            align-items: center;
            align-content: flex-end;
        }

        &::before {
            content:'';
            width: 550px;
            height: 65px;
            background-color: #DBDBDB;
        }
    }
}
