header {
    width: 100%;
    background-color: #EEEEEE;
    

    a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;

        &.menu {
            padding: 11.5px 14.5px;
            float: left;
            background-color: #111111;
        }
    }
    .row-1 {
        position: relative;
        height: 384px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .container {
            position: absolute;
            width: 1002px;
            height: 100%;
            top: 0;

            div {
                &.sidebar {
                    position: relative;
                    width: 318px;
                    height: 100%;
                    padding-top: 0px;
                    padding-left: 0px;
                    float: left;
                    background-color: #ED1C24;
                    color: #FFFFFF;

                    .title {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding-left: 52px;
                        letter-spacing: -0.4px;

                        &::before {
                            content: 'E';
                            top: 21px;
                            left: 31px;
                            margin-right: 8px;
                            margin-bottom: 47px;
                            padding: 3px 8px;
                            border: 3px solid #FFFFFF;
                            color: #FFFFFF;
                            font-size: 32.21px;
                            font-weight: 700;
                        }
                    }

                    > span {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 10px;
                        color: #FFFFFF;
                        background-color: #111111;
                    }

                    .wrap {
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
                        > h1 {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 22px;
                            font-weight: 700;
                        }

                        > h2 {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 26px;
                            font-weight: 700;
                        }
                        > span {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 16px;
                        }
                    }
                    .admission {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 18px;

                        &::before {
                            content: url(/images/header/shape12.png);
                        }
                    }
                    
                }
            }
        }
    }
    

    .row-2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 56px;
        overflow: hidden;
        background-color: #DBDBDB;

        div {
            z-index: 1;
            align-items: center;
            display: flex;
            img {
                margin-right: -0.5px;
                padding: 20px 21px;
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }

        .container {
            display: flex;
            position: relative;
            justify-content: flex-end;
            width: 1002px;
            height: 65px;

            &::after {

                content: '';
                position: absolute;
                left: 318px;
                width: 200%;
                height: 65px;
                background-color: #111111;
            }
        }
    }
}
